---
import Layout from "@layouts/Layout.astro";
import FileExplorer from "@components/vue/FileExplorer.vue";
---

<Layout title="RTMP">
  <h1 class="title has-text-centered">Rustic RTMP</h1>

  <p class="has-text-centered">This is where I will explain about how i have made the project</p>

  <FileExplorer client:visible owner="retrokiller543" repo="rustic_rtmp" />
</Layout>
