---
import BlogLayout from "@/layouts/BlogLayout.astro";
import PostForm from "@vue/PostForm.vue";
---

<BlogLayout page="Create Post">
  <div class="container is-fluid">
    <h1 class="title has-text-centered">Create Post</h1>

    <main class="section">
      <PostForm client:idle />
    </main>
  </div>
</BlogLayout>
