---
export const prerender = true
import Layout from "@layouts/Layout.astro";
import ProjectsSection from "@components/ProjectsSection.astro";

import netScanner from "@assets/images/net-scanner.webp";
import rusticRTMP from "@assets/images/rustic_rtmp.webp";
import shieldedRust from "@assets/images/shielded-rust.webp";

const projects = [
  {
    title: "Cryptography",
    description:
      "Various implementations of various cryptography algorithms. Made in Rust and works in WASM and nativly on Python with help from FFI bindings.",
    image: shieldedRust,
    projectUrl: "/cryptography",
  },
  {
    title: "Rustic RTMP",
    description: "A RTMP implementation in Rust. (not complete)",
    image: rusticRTMP,
    projectUrl: "https://github.com/retrokiller543/rustic_rtmp",
  },
  {
    title: "Ferric Net Scanner",
    description: "A network scanner in Rust.",
    image: netScanner,
    projectUrl: "https://github.com/retrokiller543/ferric_net_scanner",
  },
];
---

<Layout title="Home">
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">Welcome to My Portfolio</h1>
        <h2 class="subtitle">Showcasing my work in web development and cybersecurity.</h2>
        <a class="button is-link is-large" href="#projects">Explore My Projects</a>
      </div>
    </div>
  </section>

  <ProjectsSection projects={projects} />
</Layout>

<style lang="scss">
  .hero {
    background-color: var(--bulma-background);
  }
</style>
