---
import Layout from '../layouts/Layout.astro';
import IonCryptoView from '../components/vue/global/IonCryptoView.vue';
---

<Layout title="Shielded Rust">
	<main>
		<IonCryptoView client:load>
		</IonCryptoView>
	</main>
</Layout>