---
import Layout from "../layouts/Layout.astro";
import LoginView from "@vue/LoginView.vue";
---

<Layout title="Login">
  <main class="container is-centered">
        <h1 class="title">Login</h1>
        <LoginView client:idle />
    </main>
</Layout>