---
// Breadcrumb.astro

export interface Breadcrumb {
  name: string;
  path: string;
}

export interface Props {
  breadcrumbs: Breadcrumb[];
}

const { breadcrumbs } = Astro.props;
---

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    {breadcrumbs.map((crumb, _) => (
      <li class={`{index === breadcrumbs.length - 1 ? 'is-active' : ''}`}>
        <a href={crumb.path}>{crumb.name}</a>
      </li>
    ))}
  </ul>
</nav>