---
import ThemeSelector from "./vue/ThemeSelector.vue";
---

<nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-weight-bold" href="/" id="navbar-logo">Portfolio</a>
    <a
      role="button"
      class="navbar-burger"
      id="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navMenu"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/about">About</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <button class="navbar-link">Projects</button>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/portfolio">Portfolio</a>
          <a class="navbar-item" href="/cryptography">Cryptography</a>
          <a class="navbar-item" href="/blog">Blog</a>
          <a class="navbar-item" href="/rtmp">Rustic RTMP</a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <ThemeSelector client:only="vue" />
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <div id="login">
            <a class="button is-primary" href="/signup">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="/login"> Log in </a>
          </div>

          <a class="button is-danger is-light" id="logout"> Log out </a>
        </div>
      </div>

      <a class="navbar-item" id="profile"> Profile </a>
    </div>
  </div>

  <script>
    import { setAccessToken, setIsAuthenticated, setUserInfo, userInfo, isAuthenticated } from "@stores/authStore";
    import { showNotification } from "@stores/notifcationStore";
    import { navigate } from "astro:transitions/client";

    function init() {
      const profile = document.getElementById("profile") as HTMLAnchorElement;

      if (profile) {
        if (userInfo.get()) {
          profile.href = "/users/" + userInfo.get()?.url_safe_username;
        } else {
          profile.href = "/login";
        }
      }

      const burger = document.getElementById("navbar-burger") as HTMLAnchorElement;
      if (burger) {
        burger.addEventListener("click", () => {
          const navMenu = document.getElementById("navMenu") as HTMLDivElement;
          if (navMenu) {
            navMenu.classList.toggle("is-active");
          }
        });
      }

      const logout = document.getElementById("logout") as HTMLAnchorElement;
      const login = document.getElementById("login") as HTMLDivElement;

      if (isAuthenticated.get()) {
        logout.style.display = "block";
        login.style.display = "none";
      } else {
        logout.style.display = "none";
        login.style.display = "block";
      }

      if (logout && login) {
        logout.addEventListener("click", () => {
          console.log("Logging out...");
          setAccessToken(null);
          setIsAuthenticated(false);
          setUserInfo(null);

          logout.style.display = "none";
          console.log("button hidden");
          login.style.display = "block";

          console.log("Navigating...");

          showNotification("You have been logged out");

          navigate("/");
        });

        /* login.addEventListener("click", () => {
          logout.style.display = "block";
          login.style.display = "none";
        }); */
      }
    }

    document.addEventListener("astro:page-load", () => {
      init();
    });

    /* document.addEventListener("DOMContentLoaded", function () {
      init();
    }); */
  </script>
</nav>
