---
import ThemeSelector from "./vue/ThemeSelector.vue";
---

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/" id="navbar-logo">Portfolio</a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/about">About</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Projects</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/cryptography">Cryptography</a>
          <a class="navbar-item" href="#">Blog</a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <ThemeSelector client:only="vue" />
    </div>
  </div>
  <script>
    // JavaScript to handle adding 'is-active' class
    document.addEventListener("DOMContentLoaded", () => {
      const links = document.querySelectorAll(".navbar-item");
      links.forEach((link) => {
        if (window.location.pathname === link.getAttribute("href")) {
          if (link.id !== "navbar-logo") {
            link.classList.add("is-active");
          }
        }
      });
    });

    document.addEventListener("DOMContentLoaded", () => {
      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll(".navbar-burger"), 0);

      // Add a click event on each of them
      $navbarBurgers.forEach((el) => {
        el.addEventListener("click", () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle("is-active");
          $target!.classList.toggle("is-active");
        });
      });
    });
  </script>
</nav>

<style lang="scss">
  $z-index: 39;

  .navbar {
    z-index: $z-index;
  }

  .navbar-item.is-active {
    font-weight: bold;
  }
</style>
