---
import Layout from "@layouts/Layout.astro";
import CryptoView from "@components/CryptoView.astro";
---

<Layout title="Elliptic Curve Encryption - Home">
  <CryptoView>
    <div>
      <h1 class="title">Elliptic Curve</h1>
    </div>
  </CryptoView>
</Layout>
