---
import Layout from "@layouts/Layout.astro";

interface Props {
  page: string;
}

const { page } = Astro.props;
---

<Layout title={"Blog - " + page}>
  <section class="shifted">
    <slot />
  </section>
</Layout>

<style lang="scss">
  .shifted {
    margin-top: 7rem;
  }
</style>
