---
import Head from "@components/Head.astro";
import GlobalStyles from "@components/GlobalStyles.astro";
import Navbar from '@components/Navbar.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} />
  <body>
	<Navbar />
    <slot />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/prism.min.js" integrity="sha384-GEh2+IHQQgqMNT4vh/SuRxwDD9QfAIi3nxzdv7nGyAa4VnCS77Z/8yBefblg6G/g" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism.min.css" rel="stylesheet" integrity="sha384-Nc+suNmMfrsWUk/bq6E6A3+xkAhrw0+8+TTh+HdRj8QQgE2CS77Z/8yBefblg6G/g" crossorigin="anonymous" />
  </body>
</html>

<GlobalStyles />
