---
import Head from "@components/Head.astro";
import GlobalStyles from "@components/GlobalStyles.astro";
import Navbar from "@components/Navbar.astro";
import Notifications from '@vue/Notifications.vue'
// import SpeedInsights from "@vercel/speed-insights/astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} />
  <body>
    <Navbar transition:persist />
    <main>
      <Notifications client:idle />
      <slot />
    </main>

    <script>
      import { storeAuthInfo, restoreAuthInfo } from "@stores/authStore";

      function init() {
        // on page unload put the values of the store into localstorage and on load fetch them
        window.addEventListener("unload", function () {
          storeAuthInfo();
        });

        window.addEventListener("DOMContentLoaded", function () {
          restoreAuthInfo();
        });
      }

      document.addEventListener("DOMContentLoaded", function () {
        init();
      });
    </script>
    <!-- <SpeedInsights /> -->
  </body>
</html>

<GlobalStyles />

<style></style>
